# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.
# Virtual environments
.env/
.venv/
env/
venv/

# Pytest/mypy caches
.pytest_cache/
.mypy_cache/

# Editor directories
.vscode/
.idea/

# macOS
.DS_Store

# Environment files
.env
